[submodule "modules/little_agent"]
	path = modules/little_agent
	url = https://github.com/miyokichi/little_agent.git
	branch = main
[submodule "modules/knowledge"]
	path = modules/knowledge
	url = https://github.com/miyokichi/nexus_knowledge.git
	branch = main
[submodule "modules/observer"]
	path = modules/observer
	url = https://github.com/miyokichi/nexus_observer.git
	branch = main
[submodule "modules/planner"]
	path = modules/planner
	url = https://github.com/miyokichi/nexus_planner.git
	branch = main
[submodule "modules/project_manager"]
	path = modules/project_manager
	url = https://github.com/miyokichi/nexus_project_manager.git
	branch = main
